@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/* Drop default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a:active,
a:hover,
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* */

body {
  font-family: "PT Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #e1fee2;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card-wrapper {
  max-width: 640px;
  width: 70%;
  min-width: 320px;

  border-radius: 16px;
  background-color: #c5dfc6;
  border: solid 8px white;
  padding: 20px;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.navigation-wrapper,
.content-wrapper {
  width: 100%;
  background-color: #e1fee2;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.navigation-btn a {
  display: block;
  background-color: #c5dfc6;
  padding: 5px 10px;
  border-radius: 6px;
  color: rgb(15, 47, 16);
}

.navigation-btn.active a {
  background-color: #a0e2a2;
}

.content-wrapper {
  height: auto;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

table td {
  border: 1px solid #dddddd;
  padding: 5px;
}
